<style>
    body {
        margin-top: 0;
        background-color: white;
        background-image: url("anuc");
        color: black;
    }
</style>
<div class="container-fluid" style="background-color: white">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12" style="border-right: 2px solid black; height: calc(100vh - 50px); align-content: center; justify-content: center;">
            <!--<div class="col-md-12">-->
            <!--<img class="img-responsive img-rounded text-center" src="/images/1.jpg" style="marg">-->
            <!--</div>-->
            <div class="jumbotron">
                <h1>Welcome {{user.firstname}} {{user.lastname}}</h1>

                <h3 class="text-center">Your Scheduled Courses for the Week</h3>
                <ul class="list-group list-unstyled text-center">
                    {{#each courses}}
                        <li><a href="/courses/get/{{_id}}">{{title}} {{code}}</a></li>
                    {{/each}}
                </ul>
            </div>





        </div>
    </div>
</div>
