<style>
    body {
        margin-top: 0;
        background-color: white;
        background-image: url("anuc");
        color: black;
    }
</style>
<div class="container-fluid" style="background-color: white">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12" style="border-right: 2px solid black; height: calc(100vh - 50px); align-content: center; justify-content: center;">
            <!--<div class="col-md-12">-->
            <!--<img class="img-responsive img-rounded text-center" src="/images/1.jpg" style="marg">-->
            <!--</div>-->
            <div class="jumbotron">
                <h1>Welcome {{user.firstname}} {{user.lastname}}</h1>

                <h3 class="text-center">Attendance Log For {{course.title}} {{course.code}} <small> {{schedule.date}} [ {{schedule.venue}} ]</small></h3>
                <table></table>
            </div>





        </div>
    </div>
</div>
