<style>
    body {
        margin-top: 0;
        background-color: white;
        background-image: url("anuc");
        color: black;
    }
</style>
<div class="container-fluid" style="background-color: white">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12" style="border-right: 2px solid black; height: calc(100vh - 50px); align-content: center; justify-content: center;">
            <!--<div class="col-md-12">-->
            <!--<img class="img-responsive img-rounded text-center" src="/images/1.jpg" style="marg">-->
            <!--</div>-->
            <div class="jumbotron">
                <h1>Welcome {{user.firstname}} {{user.lastname}}</h1>

                <h3 class="text-center">Attendance Log For {{course.title}} {{course.code}}
                    <small> {{schedule.date}} [ {{schedule.venue}} ]</small>
                </h3>
                <table class="table table-condensed table-responsive table-striped">
                    <tr>
                        <th>Full Name</th>
                        <th>Index Number</th>
                        <th>Status</th>
                    </tr>
                    {{#each schedule}}
                        {{#each attendance}}
                            <tr>
                                <td><a href="/student/get/{{student_id}}/?course={{../../course.title}}&code={{../../course.code}}">{{this.student_fname}} {{student_lname}}</a></td>
                                <td><a href="/student/get/{{student_id}}/?course={{../../course.title}}&code={{../../course.code}}">{{student_index}}</a></td>

                                {{#if student_present}}
                                    <td><a href="/student/get/{{student_id}}/?course={{../../course.title}}&code={{../../course.code}}" class="text-success">Present</a></td>
                                {{else}}
                                    <td><a href="/student/get/{{student_id}}/?course={{../../course.title}}&code={{../../course.code}}" class="text-danger">Absent</a></td>
                                {{/if}}

                            </tr>
                        {{/each}}
                    {{/each}}

                </table>
                <div class="btn-group" style="width: 100%;">
                    <form style="color: black; background-color: transparent; box-shadow: none;" method="post" action="/maildata">
                        <input name="title" class="hidden" value="{{course.title}} {{course.code}}">
                        <input class="hidden" name="date" value="{{schedule.date}}">
                        <input class="hidden" name="venue" value="{{schedule.venue}}">
                        <textarea class="hidden" name="attendance">
                            <table class="table table-condensed .table-responsive .table-striped">
                    <tr>
                        <th>Full Name</th>
                        <th>Index Number</th>
                        <th>Status</th>
                    </tr>
                                {{#each schedule}}
                                    {{#each attendance}}
                                        <tr>
                                            <td><a href="/student/get/{{student_id}}/?course={{../../course.title}}&code={{../../course.code}}">{{this.student_fname}} {{student_lname}}</a></td>
                                            <td><a href="/student/get/{{student_id}}/?course={{../../course.title}}&code={{../../course.code}}">{{student_index}}</a></td>
                                            {{#if student_present}}
                                                <td><a href="/student/get/{{student_id}}/?course={{../../course.title}}&code={{../../course.code}}" style="color: #1e7e34">Present</a></td>
                                            {{else}}
                                                <td><a href="/student/get/{{student_id}}/?course={{../../course.title}}&code={{../../course.code}}" style="color: darkred">Absent</a></td>
                                            {{/if}}
                        </tr>
                                    {{/each}}
                                {{/each}}

                </table></textarea>
                        <input class="btn btn-success" type="submit" value="Mail" style="width: 100px; height: 100px; font-size: x-large;">
                    </form>

                </div>
            </div>


        </div>
    </div>
</div>
