<!--<style>-->
<!--body {-->
<!--margin-top: 0;-->
<!--background-color: white;-->
<!--background-image: url("anuc");-->
<!--color: black;-->
<!--}-->
<!--</style>-->
<div class="container-fluid" style="background-color: white">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12" style="border-right: 2px solid black; height: calc(100vh - 50px); align-content: center; justify-content: center;">
            <!--<div class="col-md-12">-->
            <!--<img class="img-responsive img-rounded text-center" src="/images/1.jpg" style="marg">-->
            <!--</div>-->
            <div class="jumbotron">
                <h1> {{student.firstname}} {{student.lastname}}
                    <small>{{student.indexNumber}}</small>
                </h1>

                <h3 class="text-center">{{course.title}}
                    <small>[ {{course.code}} ]</small>
                </h3>
                <div class="row">
                    <div style="color: black" class="col-xs-3">Total Attendance:
                        <div class="btn btn-primary">
                            {{student.totalAttendance}}
                        </div>

                    </div>

                    <div style="color: black" class="col-xs-3">Expected Attendance:
                        <div class="btn btn-primary">
                            {{student.expectedAttendance}}
                        </div>

                    </div>

                    <div style="color: black" class="col-xs-3">Attendance Percentage:
                        <div class="btn btn-primary">
                            {{student.attPercent}} %
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
